<!DOCTYPE html>
<html>
  <head>
    <title>EtherTechna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <script>window.logo = "<%= image_url('ethertechna_logo.png') %>"</script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
